manifest {
    name = 'crukci-bioinformatics/nf-rnaseq'
    author = 'Chandra Chilamakuri'
    homePage = 'https://github.com/crukci-bioinformatics/nf-rnaseq'
    description = 'RNAseq pipeline based on salmon quantification'
    mainScript = 'rnaseq.nf'
    nextflowVersion = '>=22.04.3'
    version = '1.0.0'
}

params {
    //showSettings        = true
    //help                = false
    
    // alignment.csv is output from kisckstart used for just quantification
    kickstartCSV          = "alignment.csv" 

    // This file used for DESeq2 analysis
    sampleSheet           = "samplesheet.csv"
    fastqDir              = "fastq"
    quantOutDir           = "quantOut"
    genomeDetails         = "${projectDir}/resources/genomes.csv"
    bowtieIndexDir        = "bowtie_indexes"
    adaptersFasta         = "${projectDir}/resources/adapters.fa"
    //outputDir           = "${launchDir}"
    referenceRoot         = ""
    salmonIndex           = "/data/personal/chilam01/play/salmon/reference/salmon_1.8.0"
}


process {
    container = 'crukcibioinformatics/rnaseq:latest'

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }

    cpus = 1
    memory = 1.GB
    time = 1.hour
}


singularity {
    autoMounts = true
    //cacheDir = "${launchDir}"
}

profiles {
    standard {
        process.executor = 'local'
        executor {
            cpus = 4
            memory = 16.GB
        }
    }

    bigserver {
        process.executor = 'local'
        executor {
            cpus = 30
            memory = 128.GB
        }
    }

    cluster {
        process.executor = 'slurm'
        executor {
            queueSize = 50
            pollInterval = 30.sec
            jobName = { "'$task.name'" }
        }
        singularity.enabled = true
    }
}




