manifest {
    name = 'crukci-bioinformatics/nf-salmon-RNAseq'
    author = 'Chandra Chilamakuri'
    homePage = 'https://github.com/crukci-bioinformatics/nf-salmon-RNAseq'
    description = 'RNAseq pipeline based on salmon quantification'
    mainScript = 'rnaseq.nf'
    nextflowVersion = '>=22.04.3'
}

params {
    //showSettings          = true
    //help                  = false
    sampleSheet           = "samplesheet.csv"
    fastqDir              = ""
    sampleSize            = 100000
    maxNumberToSampleFrom = Long.MAX_VALUE
    chunkSize             = 1000000
    trimStart             = 1
    trimLength            = 36
    genomeDetails         = "${projectDir}/resources/genomes.csv"
    bowtieIndexDir        = "bowtie_indexes"
    adaptersFasta         = "${projectDir}/resources/adapters.fa"
    outputDir             = "${launchDir}"
    outputPrefix          = ""
}


