params {
    projectName = "projectName"
    endType = "pe"
    species = "mus_musculus"
    shortSpecies= "mmu"
    assembly = "GRCm38"
    referenceRoot = "/data/reference_data/scratchb/reference_genomes"
    salmon_path = "/ssd/personal/chilam01/software/miniconda3/bin/salmon"
    //kickstartCSV = "tiny_alignment_v2.0.csv"
    kickstartCSV = "tiny_alignment.csv"
    sampleSheet = "tiny_samplesheet_v1.0.csv"
    referenceRoot = "/data/reference_data/scratchb/reference_genomes"
    //salmonIndex   = "/data/personal/chilam01/play/salmon/reference/mouse/salmon_1.8.0"
    salmonIndex   = "/data/personal/chilam01/play/salmon/salmon_with_nf_7/GRCm39_salmon_1.8.0"
    //tx2gene="tx2gene.tsv"
     //tx2gene="/data/personal/chilam01/play/salmon/reference/mouse/salmon_1.8.0/tx2gene.tsv"
     tx2gene="/data/personal/chilam01/play/salmon/salmon_with_nf_7/GRCm39_salmon_1.8.0/tx2gene.tsv"

     // newly added
     
     design = "SampleGroup"
     colorFactors = "SampleGroup"
     pValCutoff = 0.05
     genesToShow = "NULL"
     contrastFile = "contrasts.csv"
     countsDir = "counts"
     DeOutDir = "DE_analysis"
     templateDir = "RNAseqReport"
     reportFile = "RNAseqReport.html"
     gtfFile= "/data/reference_data/reference_genomes/mus_musculus/GRCm38/annotation/mmu.GRCm38.gtf"
     quantOutDir="quantOut"
     rScript="nf-rnaseq/bin/runRNAseqReport.R"
     rmdFile="nf-rnaseq/bin/rnaseqReport.Rmd"

}
