params {
    projectName = "projectName"
    species = "mus_musculus"
    shortSpecies= "mmu"
    assembly = "GRCm38"
    kickstartCSV = "alignment.csv"
    sampleSheet = "samplesheet_v1.0.csv"
    referenceRoot = "/mnt/scratchb/bioinformatics/reference_data/reference_genomes"
    design = "SampleGroup"
    colorFactors = "SampleGroup"
    genesToShow = "NULL"
    contrastFile = "contrasts.csv"
}
